.navbar .navbar-brand img {
    height: 20px;
}

.navbar .navbar-brand {
    padding-top: 0;
}

.navbar .nav-link {
    color: #444343!important;
}

.navbar .button-collapse {
    padding-top: 1px;
}

.card-intro .card-body {
    padding-top: 1.5rem;
    padding-bottom: 1.5rem;
    border-radius: 0 !important;
}

.card-intro .card-body h1 {
    margin-bottom: 0;
}

.card-intro {
    margin-top: 64px;
}

@media (max-width: 450px) {
    .card-intro {
        margin-top: 56px;
    }
}

@media (min-width: 1441px) {
    .card-intro {
        padding-left: 0 !important;
    }
}


body {
    margin: 0;
    padding: 0;
}

#notification-container {
    position: fixed;
    bottom: 10px;
    right: 80px;
}

.taste {
    background-color: #e0e0e0;
    color: #1d1d1c;
    padding: 1rem;
    border-radius: 5px;
    margin: 1rem;
    box-shadow: 2px 2px 10px rgb(41, 39, 39);
    position: relative;
    z-index: 1000;
}