 <li class="nav-item active">
                    <a class="nav-link" href="about.html">about<span class="sr-only">(current)</span></a>
                </li>
                <form class="nav-item">
                  <a class="nav-link" href="http://vishwakonkani.org/">WKC</a>
                </form>
                <li class="nav-item">
                  <a class="nav-link" href="http://sophists-bot2.herokuapp.com/">Sophists Official</a>
                </li>










 <div class="collapse navbar-collapse" id="navbarSupportedContent-7">
              <ul class="navbar-nav mr-auto">
                <li class="nav-item active">
                    <a class="nav-link" href="#">Home<span class="sr-only">(current)</span></a>
                </li>
              </ul>
            </div>



body{
    background-image: url('https://mdbootstrap.com/img/Photos/Others/architecture.jpg');
}


<link href="{{url_for('static', filename='css/beauty.css')}}" rel="stylesheet">






 <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
    aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item active">
        <a class="nav-link" href="#">Home <span class="sr-only">(current)</span></a>
      </li>

















        <nav class="navbar navbar-expand-lg sticky-top fixed-top navbar-light scrolling-navbar">
          <div class="container">
            <a class="navbar-brand" href="#"><strong>SOPHISTS </strong><i class="fas fa-award"></i></a>
            <div class="mask rgba-black-light d-flex justify-content-center align-items-center">
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent-7"
              aria-controls="navbarSupportedContent-7" aria-expanded="false" aria-label="Toggle navigation">
              <span class="navbar-toggler-icon"></span>
            </button>
            </div>
          </div>
       </nav>




        <div class="container text-center">
        <img src="{{url_for('static',filename = 'img/wkcc.png')}}" class="img-fluid" width="450 px">
    </div>
    <div class="container my-5 py-5 z-depth-1">



























           <body>
       <nav class="navbar navbar-expand-lg sticky-top fixed-top navbar-light dark scrolling-navbar">
              <div class="container">
                <a class="navbar-brand" href="#"><strong>SOPHISTS </strong><i class="fas fa-award"></i></a>
                <div class="mask rgba-black-light d-flex justify-content-center align-items-center">
                <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent-7"
                  aria-controls="navbarSupportedContent-7" aria-expanded="false" aria-label="Toggle navigation">
                  <span class="navbar-toggler-icon"></span>
                </button>
                    <a href="http://vishwakonkani.org/" class="nav-link border waves-effect text-dark" target="_blank"><strong>W K C</i></strong></a>
                    <a href="http://sophists-bot2.herokuapp.com/" class="nav-link border waves-effect color-dark text-dark" target="_blank"><strong>Sophists <i class="fas fa-feather-alt"></i> Official</strong></a>
                </div>
              </div>
       </nav>
            <h1>         </h1>
            <h1 class="text-center"><strong>OCR CONVERTER</strong></h1>
            <h3 class="text-center"><strong><u>Optical Character Recognition</u></strong></h3>
   </body>
























        image_url = r"D:\Flask\static\img\uploads\\" + image.filename


